**/*.pyc
**/coverage
*.md
*.log
*.out
*.zip
.DS_Store
.coverage
.ebextensions
.editorconfig
.elasticbeanstalk
.git*
.pytest_cache
Dockerfile
Jenkinsfile
Makefile
__pycache__
ci-report
datadog*
docker-compose*
