[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-silk = "*"
pytest = "==3.10.1"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "==1.27.0"
pytest-mock = "*"
pytest-profiling = "*"
pytest-watch = "*"
flake8 = "*"
flake8-quotes = "*"
pycodestyle = "*"
django-extensions = "*"
ipython = "*"
jupyter = "*"
ipdb = "*"

[packages]
hvac = "*"
unidecode = "*"
psycopg2-binary = "*"
django = "*"
django-redis = "*"
django-cors-headers = "*"
django-split-settings = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-rest-swagger = "*"
django-filter = "*"
graphene-django = "*"
uwsgi = "*"
celery = "*"
kombu = "*"
google-api-python-client = "*"
django-cryptography = "*"
dataclasses = "*"
oauth2client = "*"
schematics = "*"
django-constance = "*"
django-picklefield = "*"
datadog = "*"
msgpack = "*"
msgpack-python = "*"
python-logstash = "*"
sentry-sdk = "*"
redis = "==3.2.1"
drf-nested-routers = "*"
django-crequest = "*"
django-mptt = "*"
pillow = "*"

[requires]
python_version = "3.7"
