{% extends 'base.html' %}
{% block content %}
    <h2>{{ advert.subject }}</h2>
    <p>{{ advert.description }}</p>
    <p>
        {% for photo in advert.image.photos.all %}
            {% if photo.image %}
                <img src="{{ photo.image.url }}" style="width: 200px; height: 120px;">
            {% endif %}
        {% endfor %}
    </p>
    <p>{{ advert.exp_filter }}</p>
    <p>{{ advert.filter }}</p>
    <p>{{ advert.price }}</p>
    <p>{{ advert.created_on }}</p>
    <hr>
{% endblock content %}